<table class="table table-sm kd-table bg-white my-4">
  <thead class="kd-table-header--dark">
    <tr>
      <th class="kd-table-header__cell kd-table-header__cell--id" kdSort="id" [kdSortSource]="notes">Id
        <i class="kd-sort-direction-arrow fa" aria-hidden="true"></i>
      </th>
      <th class="kd-table-header__cell" kdSort="title" [kdSortSource]="notes">Title
        <i class="kd-sort-direction-arrow fa" aria-hidden="true"></i>
      </th>
      <th class="kd-table-header__cell" kdSort="content" [kdSortSource]="notes">Content
        <i class="kd-sort-direction-arrow fa" aria-hidden="true"></i>
      </th>
      <th class="kd-table-header__cell" kdSort="status" [kdSortSource]="notes">Status
        <i class="kd-sort-direction-arrow fa" aria-hidden="true"></i>
      </th>
    </tr>
  </thead>
  <tbody *ngIf="notes; else no_data">
    <tr kd-note-item
      *ngFor="let note of notes; trackBy: trackByFn"
      [note]="note"
      (itemSelectionChanged)="setSelectionOption($event)">
    </tr>
  </tbody>
  <ng-template #no_data>
    <tr>
      <td colspan="4">
        <span class="kd-message">No notes available</span>
      </td>
    </tr>
  </ng-template>
</table>
<kd-confirmation-ribbon [active]="selectedNote"
  [message]="confirmationMessage"
  (confirm)="responseConfirmation($event)">
</kd-confirmation-ribbon>
