@import '../../../../colors.scss';

.kd-table {
  font-size: .9rem;
  margin-bottom: 15px;
}

.kd-table-header--dark {
  background-color: $kd-dark-background;
}

.kd-table-header__cell {
  border: 0;
  color: $kd-light-text;
  cursor: pointer;
  font-weight: normal;
}

.kd-table-header__cell--id {
  min-width: 70px;
}
