<div class="shadow-sm p-4 bg-white">
  <div class="row">
    <div class="col-sm-4">
      <small>Total</small>
      <h3 id="kd-total-label">{{statistics?.total}}</h3>
    </div>
    <div class="col-sm-4">
      <small>Completed</small>
      <h3 id="kd-completed-label">{{statistics?.completed}}</h3>
    </div>
    <div class="col-sm-4">
      <small>Not completed</small>
      <h3 id="kd-uncompleted-label">{{statistics?.uncompleted}}</h3>
    </div>
  </div>
</div>
