<div class="my-5">
  <div class="row">
    <div class="col-sm-6">
      <kd-statistics-panel [statistics]="statistics$ | async"></kd-statistics-panel>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <kd-note-list [notes]="notes$ | async"
        (noteDeleted)="removeNote($event)"></kd-note-list>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn kd-btn kd-btn--primary pull-right"
        (click)="openAddModal()">
        Add
      </button>
    </div>
  </div>
</div>
