<td class="kd-note-item__cell--highlight">
  <kd-checkbox [selected]="note.isSelected"
    [disabled]="note.isDisabled"
    (valueChange)="checkboxChanged($event)">
  </kd-checkbox>
  {{note.id}}
</td>
<td>{{note.title}}</td>
<td>{{note.content}}</td>
<td>{{noteStatuses.get(note.status)}}</td>
