@import '../../../colors.scss';

.kd-ribbon {
  background-color: $kd-danger;
  bottom: 0;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
}

.kd-ribbon-message {
  display: flex;
  align-items: center;
  font-size: .8rem;
}

.kd-ribbon-message__icon {
  font-size: 1.2rem;
}

.kd-ribbon-message__text {
  padding-left: 20px;
}

.kd-ribbon-controls {
  display: flex;
  justify-content: flex-start;
}

.kd-ribbon__button {
  background-color: $kd-danger;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  margin: 0 6px;
  outline: none;
  width: 100px;

  &:active {
    opacity: .8;
  }

  &.kd-ribbon__button--highlight {
    background-color: #FFFFFF;
    border: 1px solid $kd-danger;
    color: $kd-danger;
  }
}
