<div class="kd-ribbon" *ngIf="active" [@slideInOut]>
  <div class="kd-ribbon-message">
    <i class="fa fa-exclamation-triangle m-2 kd-ribbon-message__icon" aria-hidden="true"></i>
    <span class="kd-ribbon-message__text">{{message}}</span>
  </div>
  <div class="kd-ribbon-controls">
    <button class="kd-ribbon__button" id="kd-rejection-button" (click)="confirm.emit(false)">No</button>
    <button class="kd-ribbon__button kd-ribbon__button--highlight" id="kd-consent-button" (click)="confirm.emit(true)">Yes</button>
  </div>
</div>
