@import './colors.scss';
@import './bootstrap-kayden-theme.scss';

body {
  background-color: $kd-background;
  color: $kd-text;
  font-family: 'Arimo', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
