@import '../../../colors.scss';

.kd-checkbox-container {
  margin-bottom: 12px;
  padding-left: 25px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.kd-input {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;

  &:checked ~ .kd-checkmark:after {
    display: block;
  }

  &:disabled ~ .kd-checkmark {
    background: #eee;
  }
}

.kd-checkmark {
  border: 1px solid $kd-text;
  border-radius: 4px;
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;

  &:after {
    border: solid $kd-primary;
    border-width: 0 2px 2px 0;
    content: '';
    display: none;
    height: 7px;
    left: 5px;
    position: absolute;
    top: 2px;
    width: 4px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
