<label class="kd-checkbox-container">
  <input type="checkbox"
    class="kd-input"
    (change)="checkboxChanged($event.target.checked)"
    [checked]="selected"
    [disabled]="disabled" />
  <span class="kd-checkmark"></span>
</label>
