<form [formGroup]="noteForm"
  (ngSubmit)="submit(noteForm)">
  <input type="text"
    class="form-control mb-3"
    [class.is-invalid]="title.invalid && title.touched"
    formControlName="title"
    placeholder="Add title" />
  <textarea class="form-control my-3"
    [class.is-invalid]="content.invalid && content.touched"
    formControlName="content"
    rows="3"
    placeholder="Add content">
  </textarea>
  <button class="btn kd-btn kd-btn--primary kd-btn--small mr-3"
    type="submit"
    [disabled]="noteForm.invalid">
      Save
  </button>
  <button class="btn kd-btn kd-btn--outline kd-btn--small"
    (click)="formCancelled.emit()"
    type="button">
      Cancel
  </button>
</form>
